<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>管理帳號密碼</title>
<link href="css/default.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-1.11.3.min.js"></script>

<!--[if IE]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!--breadcrumnb-->
<script src="js/jBreadCrumb/js/jquery.jBreadCrumb.1.1.js"></script>
<script src="js/jBreadCrumb/js/jquery.easing.1.3.js"></script>
<link rel="stylesheet" href="js/jBreadCrumb/styles/BreadCrumb.css" type="text/css">

<script>
jQuery(document).ready(function()
{
	jQuery("#breadCrumb").jBreadCrumb();
})
</script>

<!--tabs control-->
<script src="js/jquery-tab.js"></script>
    
    
<!--button link-->
<script>
$(document).ready(function(){
    
	$('button').click(function(){
        var back= $(this).find('i').hasClass('icon-back');
        var del= $(this).find('i').hasClass('icon-delete');
        var add= $(this).find('i').hasClass('icon-add');
        var org= $(this).find('i').hasClass('icon-org');
        var book= $(this).find('i').hasClass('icon-book');
        
        if(back==true){
        location.href='ap_system_list.html';
        }
        if(add==true){
            window.open('view_person.html', 'msg', 'width=600,height=360,scrollbars=auto');
            event.preventDefault();
        }
        if(org==true){
            window.open('unit.html', 'msg', 'width=600,height=360,scrollbars=auto');
            event.preventDefault();
        }
        if(book==true){
            window.open('query_ap.html', 'ap', 'width=600,height=350,scrollbars=auto');
            event.preventDefault();
        }
   }); 
})
</script>


<!--radio control show hide-->
<script>
$(document).ready(function(){ 
    $("input[name$='level']").click(function() {
        var levNum = $(this).val();
        if(levNum==2){
            $('#reviewLevel').show();
        }else{
            $('#reviewLevel').hide();
        }
    }); 
});
</script>


<!--sortable drag & drop-->
<script src="js/jquery-ui.js"></script>

<script>
  $(function() {
    $( "#sortable1, #sortable2").sortable({
      connectWith: ".connectedSortable"
    }).disableSelection();
  });
  </script>
  
<script>
$(document).ready(function(){
     
   $('.iframeToggle').click(function(){
                     
            $('main').toggleClass('wide');
            $('.frame_menu').toggleClass('iframeCollapse');
            $(this).toggleClass('collapse');
            
            var icon = $(this).find('i');
           
           icon.toggleClass(function () {
            if (icon.hasClass('icon-pager-prev')){
                  $(this).removeClass();                  
                  return 'icon-pager-next';
                }
             if (icon.hasClass('icon-pager-next')){
                  $(this).removeClass();                  
                  return 'icon-pager-prev';
                } 
        }); 
             
    });  
})
</script>

<!--check box control show hide-->
<script>
$(document).ready(function(){ 
    
    $("#sformType").change(function() {
	   switch($("#sformType").val()) {
	      case '1':
		     $(".sect").css('display','none');
			 $(".sect1").css('display','block');
			 break;
	      case '2':
		     $(".sect").css('display','none');
			 $(".sect2").css('display','block');
			 break;
	      case '3':
		     $(".sect").css('display','none');
			 $(".sect3").css('display','block');
			 break;
	      case '4':
		     $(".sect").css('display','none');
			 $(".sect4").css('display','block');
			 break;	 
		 default :
		 $(".sect").css('display','none');
		 //$(".sect2").css('display','block');
		 break;			 
	   }
	});
	
	$("#sformJType").change(function() {
	   switch($("#sformJType").val()) {
	      case '1':
		     $(".ject").css('display','none');
			 $(".ject1").css('display','block');
			 break;
	      case '2':
		     $(".ject").css('display','none');
			 $(".ject2").css('display','block');
			 break;
	      case '3':
		     $(".ject").css('display','none');
			 $(".ject3").css('display','block');
			 break;
	      case '4':
		     $(".ject").css('display','none');
			 $(".ject4").css('display','block');
			 break;	 
		 default :
		 $(".ject").css('display','none');
		 //$(".sect2").css('display','block');
		 break;			 
	   }
	});
	
	$("#sformAType").change(function() {
	   switch($("#sformAType").val()) {
	      case '1':
		     $(".aect").css('display','none');
			 $(".aect1").css('display','block');
			 break; 
		 default :
		 $(".aect").css('display','none');
		 //$(".sect2").css('display','block');
		 break;			 
	   }
	});
	
	$("#sformBType").change(function() {
	   switch($("#sformBType").val()) {
	      case '1':
		     $(".bect").css('display','none');
			 $(".bect1").css('display','block');
			 break; 
		 default :
		 $(".bect").css('display','none');
		 //$(".sect2").css('display','block');
		 break;			 
	   }
	});
   	
});
</script>


</head>
<body>
<!--frame--> 
<div class="frame_header"><iframe src="frame_header.html" scrolling="no"></iframe></div>
<div class="frame_menu"><button class="iframeToggle"><i class="icon-pager-prev"></i></button><iframe src="frame_menu.html" scrolling="yes"></iframe></div>


<main>
	<!--breadcrumb start-->
    <div class="breadCrumbHolder module">
      <div id="breadCrumb" class="breadCrumb module">
        <ul>
          <li><a href="main.html">Home</a></li>
          <li><a href="#">管理使用者帳號</a></li>
          <li><a href="#">新增使用者帳號</a></li>
        </ul>
      </div>
       </div>
      <!--breadcrumb end-->

	<h1>新增使用者帳號資料</h1>
	
				
				<!--Report項目資料-->
	<fieldset>
    <legend></legend>
    <table class="grid_query">
      <tr>
        <th><font color="red">&nbsp;*&nbsp;</font>帳號</th>
        <td><input type="text" style="width:10rem;" value=""/></td>
        <th><font color="red">&nbsp;*&nbsp;</font>單位代碼</th>
        <td colspan="3"><select>
              <option> 一科</option>
              <option> 二科</option>
              <option selected="true"> 三科</option>
            </select>
        </td>
      </tr>
      <tr>
        <th><font color="red">&nbsp;*&nbsp;</font>姓名</th>
        <td><input type="text" style="width:15rem;" value=""/></td>
        <th><font color="red">&nbsp;*&nbsp;</font>別名</th>
        <td><input type="text" style="width:15rem;" value=""/></td>
      </tr>
      <tr>
        <th><font color="red">&nbsp;*&nbsp;</font>密碼</th>
        <td><input type="password" style="width:10rem;" value=""/></td>
        <th><font color="red">&nbsp;*&nbsp;</font>角色</th>
        <td colspan="3"><select>
              <option>管理者</option>
              <option selected="true">一般使用者</option>
            </select>
        </td>
      </tr>

    </table>
    </fieldset>

        <div class="btnBR">
        <button><i class="icon-save"></i> 儲存</button>
        <button><i class="icon-back"></i> 回前頁</button>
        </div>
        </fieldset>
        </section>
    </fieldset>
    </section>
</main>
</body>
</html>
