<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- 引入Css -->
    <link rel="stylesheet"
          th:href="@{/css/style.css}"/>
    <title>使用者帳號資料</title>
</head>

<body>

<div class="container">

    <h3>使用者帳號資料</h3>
    <hr>

    <form onsubmit="this.authority.disabled=false" action="#" th:action="@{/users/update}"
          th:object="${user}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}"/>

        <div>科別:
            <select th:field="*{orgCode}" class="form-control mb-4 col-4">
                <option value="0" disabled="disabled">請選擇科別</option>
                <option th:value="1" th:text="第一科"></option>
                <option th:value="'2'" th:text="第二科"></option>
                <option th:value="3" th:text="第三科"></option>
            </select>
        </div>
        <div>
            <label for="formalName">姓名:</label>
            <input type="text" id="formalName" th:field="*{formalName}"
                   class="form-control mb-4 col-4" placeholder="請輸入姓名"/>
            <p th:if="${#fields.hasErrors('formalName')}" class="error" th:errors="*{formalName}"></p>
        </div>

        <div>
            <label for="username" >帳號:</label>
            <input type="text" id="username" th:field="*{username}"
                   readonly class="form-control mb-4 col-4" placeholder="請輸入帳號"/>
            <p th:if="${#fields.hasErrors('username')}" class="error" th:errors="*{username}"></p>
        </div>

        <div>
            <label for="password" >密碼:</label>
            <input type="text" id="password"   th:field="*{password}"
                   class="form-control mb-4 col-4" placeholder="請輸入密碼"/>
            <p th:if="${#fields.hasErrors('password')}" class="error" th:errors="*{password}"></p>
        </div>

        <input type="hidden" th:field="*{enabled}"/>

        <div>使用者類型:
            <select name="authority" th:field="*{authority}" disabled class="form-control mb-4 col-4">
                <option th:value="ROLE_EMPLOYEE" th:text="一般使用者"></option>
                <option th:value="ROLE_MANAGER" th:text="管理者"></option>
                <option th:value="ROLE_ADMIN" th:text="系統管理者"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-info col-2">確認</button>

    </form>

    <hr>
    <a th:href="@{/users/list}">回使用者帳號頁面</a>

</div>
</body>

</html>
